body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

footer,
header,
.header {
    display: flex;
    color: #F9FAF8;
    background-color: rgb(18, 18, 71);
    justify-content: space-between;
}

footer,
.header {
    justify-content: center;
}

footer {
    font-size: 15px;
}

header figure {
    display: flex;
    height: 50px;
    gap: 10px;
}

figure a img {
    height: 50px;
}

header,
header figure {
    align-content: center;
    align-items: center;
}

header figure figcaption {
    font-size: 24px;
}

header ul {
    list-style-type: none;
    padding-right: 20px;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color:#2c253a;
}

.header.info {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    width: 90%;
    gap: 20px;
}

.header-text {
    margin-left: 15px;
    width: 45%;
}

.header-text h1{
    font-size: 48px;
    font-weight: 900px;
}

.header-text p {
    font-size: 18px;
    color: #E5E7EB;
}

.header.info div img {
    height: 225px;
    border-radius: 25%;
}

.favorite-games {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}

.podium {
    display: flex;
}

.podium h1 {
    font-size: 36px;
    font-weight: 900px;
    color: #1F2937;
}

.game-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    flex: auto;
}

.game-image img {
    border-radius: 10px;
    padding: 5px;
    height: 150px;
    width: 150px;
}

#PZ {
    background-color: rgb(214, 46, 46);
}

#PZ:hover {
    background-color: rgb(46, 77, 214);
}

#GTA {
    background-color: black;
}

#GTA:hover {
    background-color: rgb(206, 175, 175);
}

#GOW {
    background-color: #577fb8;
}

#GOW:hover {
    background-color: #b85757;
}

#P4 {
    background-color: yellowgreen;
}

#P4:hover {
    background-color: rgb(117, 50, 205);
}

#SMG {
    background-color: rgb(47, 92, 92);
}

#SMG:hover {
    background-color: rgb(92, 47, 47);
}

.game-image p {
    font-size: 18px;
    text-align: center;
}

.quote {
    background-color: #E5E7EB;
    justify-content: center;
    padding-bottom: 40px;
    padding-top: 40px;
    display: flex;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
}

.text p {
    font-size: 36px;
    font-style: italic;
    margin-bottom: 0px;
    color: #1F2937;
}

#author {
    font-weight: 900;
    font-size: 30px;
}

.contact {
    justify-content: center;
    display: flex;
    padding: 50px;
}

.box {
    border-radius: 20px;
    background-color: #2b538b;
    width: 90%;
    display: flex;
    padding: 20px;
    padding-bottom: 30px;
}

#callTXT {
    color: white;
    width: 70%;
}

#callBTN {
    display: flex;
    align-items: center;
}

#callBTN button {
    background-color: inherit;
    font-size: 200%;
    border-radius: 10px;
    border-color: white;
    color: white;
    padding: 10px;
}

